<%= render 'form' %>
<% if user_signed_in? %>
  <% @posts_usuario.each do |t| %>
    <div class="text-center"><%= link_to  "#{root_url}#{t.short_url}",
     t.short_url %></div>
  <% end %>
<% end %>
